.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

nav > div > span, a {
  padding-right: 10px;
  color: black;
  text-decoration: none;
}

nav > div > span:hover, a:hover {
  color: rebeccapurple;
  cursor: pointer;
}